.navbar {
display: flex;
align-items: center;
justify-content: space-between;
padding: 50px 60px;
background: #1e0b44;
min-height: 150px;
}

/* Área do logo */
.logo {
display: flex;
align-items: center;
gap: 9px;
height: 80px;
margin-left: 10px; 
}

.logo img {
height: 150px;
gap: 10px;
}

.logo-box {
width: 50px;
height: 50px;
border: 2px solid #555;
display: flex;
justify-content: center;
align-items: center;
}

/* Botões do menu */
.menu {
display: flex;
gap: 10px;
margin-right: 20px;
}

.menu a {
padding: 10px 50px;
background: #a681ea;
border-radius: 10px;
border: 1px solid rgb(222, 160, 220);
text-decoration: none;
color: #000;
font-weight: bold;
box-shadow: 1px 1px 2px #ebe6e6;
}



.Imagem_Sobre{
border-radius: 10px;
}

.Nome_site{  
color: #e6cb7f;
font-family: "Playwrite NO", cursive;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
}

.menu a:hover{
background-color: #e1a8e8;
color: black;
}


.estilo_footer{
background-color: #1e0b44;
padding: 30px 20px;
text-align: center;
color: white;
}

.Banner{
width: 100%;
margin: 30px auto;
padding: 20px;
}

.Banner img {
width: 100%;
height: 350px; /* altura que você quiser */
object-fit: cover; /* mantém proporção sem deformar */
object-position: center; /* centraliza o conteúdo */
 margin-top: -30px;
}

.Titulo_card{
text-align: center;
background-color: #a681ea;
text-align: center;
width: 50%; 
margin: 0 auto;
padding: 1px 4px;
border-radius: 10px;
color: black;
font-family: 'Times New Roman', Times, serif;
font-size: 30px;
text-decoration: none;
}

.Carrocel_estilo{
width: 40%;         
margin: 0 auto;   
}

.Texto_carrocel{
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

.estilo_footer{
background-color: #1e0b44;
padding: 30px 20px;
text-align: center;
color: white;
}

.Titulo_card a {
    text-decoration: none;
    color: black; 
}